attrs==20.1.0
beautifulsoup4==4.9.1
bleach==3.3.0
defusedxml==0.6.0
entrypoints==0.3
ipython-genutils==0.2.0
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
numpy==1.19.1
packaging==20.4
pandas==1.1.1
pandocfilters==1.4.2
parso==0.7.1
Pygments==2.7.4
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
pyzmq==19.0.2
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
testpath==0.4.4
tornado==6.0.4
traitlets==5.0.1
urllib3==1.25.10
webencodings==0.5.1
